body{
    text-align: center;
    background-color: #A9A9A9;
    color:white;
}

#formulaire{
    margin-top: 3px;
    background-color: #666666; 
}

#message{
    margin-top: 3px;
    background-color: #808080;
}

#separation{
    border-bottom: 3px dotted black;
}

h1{
    color:blue;
}

h4{
    color:darkblue;
}

h5{
    color:red;
}